<div class="panel-configuracion">
    <div class="container-fluid">




        <div class="col col-md-4">
            <h2>Home</h2>
            <br>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col col-md-12">

                    <div class="row">
                        <div class="panel panel-default panel-btn" ng-click="nuevaTarea()">
                            <div class="panel-body">
                                <a href="/#!/nuevoProducto" class="menu-btn">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    <span> Nuevo producto</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel panel-default  panel-btn" ng-click="listaTareas()">
                            <div class="panel-body">
                                <a href="/#!/listaProductos" class="menu-btn">
                                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                                    <span> Lista de productos</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel panel-default panel-btn" ng-click="perfil()">
                            <div class="panel-body">
                                <a href="/#!/listaUsuarios" class="menu-btn">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                    <span> Usuarios</span>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <br>
            <br>
            <br>
          
            </div>
        </div>

  




    </div>
</div>