/* GENERAL */
h2{
    color: white;
}
.derecha{
    float: right;
}
.izquierda{
    float: left;
}
select, option, span{
    font-family: 'Open Sans', sans-serif;
}




.panelIzquierdo{
    position: absolute;
    height: 100%;
    width: 250px; 
}
.panelIzquierdo .contenedor{
    background-color: #166A91;
    width: 100%;
    height: 100%;    
}
.panelIzquierdo .logo{
    margin-top: 9px;
    text-align: center;
}
.panelIzquierdo .logo h2{
    font-weight: 600;
}
.panelIzquierdo .menu{
    color: white;
    font-weight: 200;
}
.panelIzquierdo .menu{
    list-style-type: none;
    padding: 0px;
}
.panelIzquierdo .menu li{
    padding: 8px 0px;
    margin-top: 1px;
    padding-left: 40px;
    cursor: pointer;
    opacity: .7;
    transition:all .2s;
}    
.panelIzquierdo .menu li:hover{
    background-color: #347D9F;
    transition:all .2s;
}
.panelIzquierdo .menu li:active{
    background-color: #104861;
    transition:all .2s;
}
.panelIzquierdo .menu li i{
    width: 35px;
    text-align: center;
}

.panelSuperior{
    position: absolute;
    width: calc(100% - 250px);
    left: 250px;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(71,71,71,.5);
    -moz-box-shadow: 0px 3px 7px 0px rgba(71,71,71,.5);
    box-shadow: 0px 3px 7px 0px rgba(71,71,71,.5);
}
.panelSuperior .contenedor{
    position: relative;
    height: auto;
    padding: 10px 20px;
    padding-top: 8px;
}
.panelSuperior select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 0px;
    margin: 0px;
    border: none;
    font-weight: 700;
    height: auto;
    width: auto;
}
.panelSuperior select option{
    padding:0px 10px;
    padding-right: 80px;
    font-weight: 400;
}
.panelSuperior .contenedor .usuarios{
    position: absolute;
    right: 40px;
    top: 13px;
    font-size: 13px;
    font-weight: 700;
}
.panelSuperior .contenedor .usuarios .notificacion{
    margin-right: 7px;
}
.panelCentral{
    position: relative;
    top: 100px;
    left: 300px;
    margin-right: 350px;
}    
.panelCentral .entradaMatricula .inpMatricula{
    display: inline-block;
}

.panelCentral table{
    width: 100%;
    text-align: left;
    border-collapse:collapse;
    border: 1px solid #DADADA;    
}

.panelCentral table th{
    background-color: #CECECE;
}
.panelCentral table tr{
    background-color: #EEEEEE;
    border-bottom: 1px solid #BBBBBB;
    cursor: pointer;
}
.panelCentral table tr:hover{
    background-color: #5299B8;
    border-bottom: 1px solid #BBBBBB;
}
.panelCentral th, .panelCentral td{
    padding-left: 20px;
    font-size: 13px;
}
.panelCentral th{
    padding-top: 13px;
    padding-bottom: 13px;  
}
.panelCentral td{
    padding-top: 10px;
    padding-bottom: 10px;
}
.anchoColumn {
    width: 40px;
}


.gridStyles{
    width: 940px;
    height: 300px;
}


