 .panel-nav {
     top: 0px;
     width: 100%;
     margin: 0px;
 }

 .panel-nav .principal {
     position: fixed;
     padding-top: 17px;
     top: 0px;
     height: 72px;
     width: 100%;
     margin: 0px;
     background-color: white;
     border-bottom: 2px solid #678126;
     z-index: 2;
 }

 .panel-nav .principal .logo {
     background-image: url(../img/TiendaVerde.png);
     background-size: cover;
     margin-top: 6px;
     margin-bottom: -3px;
     height: 33px;
     width: 100%;
 }

 .panel-nav .principal .btn-categoria {
     border: 0px;
     background: transparent;
     font-weight: normal;
     border-radius: 0px;
     margin-top: 9px;
     margin-bottom: -9px;
 }

 .panel-nav .principal .btn-categoria:focus {
     outline: 0px;
 }

 .panel-nav .principal .buscador input {
     border: 1px solid rgb(209, 209, 209);
     box-shadow: none;
     border-right: 0px;
 }

 .panel-nav .principal .buscador input:focus {
     outline: 0px;
     border: 1px solid rgb(209, 209, 209);
     border-right: 0px;
 }

 .panel-nav .principal .buscador button {
     border: none;
     background-color: inherit;
     border-radius: 100%;
     width: 40px;
     height: 40px;
     box-shadow: none;
 }

 .panel-nav .principal .buscador .input-group-addon {
     background-color: white;
 }

 .panel-nav .principal .carper button {
     border: none;
     background-color: inherit;
     border-radius: 100%;
     width: 40px;
     height: 40px;
     box-shadow: none;
     /* background-color: gray; */
 }

 .panel-nav .principal .carper .perfil {
     width: auto;
 }

 .panel-nav .principal .carper button:focus {
     outline: 0px;
 }

 .panel-nav .principal .carper button:hover {
     background-color: #e8e8e8;
 }

 .panel-nav .secundario {
     position: relative;
     margin: 0px;
     margin-top: 72px;
     background-color: #6eb121;
     height: 40px;
     width: 100%;
     z-index: 1;
 }

 .panel-nav .secundario .col {
     left: 10%;
 }

 .panel-nav .secundario .btn-categoria {
     border: 0px;
     background: transparent;
     font-weight: normal;
     border-radius: 0px;
     margin-top: 8px;
     margin-bottom: -6px;
     color: white;
 }

 .panel-nav .secundario .direccion,
 .panel-nav .secundario .telefono {
     color: white;
     margin-top: 8px;
 }
 /* PANEL PERFIL */

 .panel-perfil-nav {
     position: fixed;
     top: 80px;
     right: calc(50% - 500px);
     background-color: rgb(218, 218, 218);
     z-index: 3;
     padding: 20px;
 }



 .strike {
    text-decoration: line-through;
    background-color: blue;
}
.bold {
    font-weight: bold;
}
.red {
    color: red;
}
.has-error {
    color: red;
    background-color: yellow;
}
.orange {
    color: orange;
}