.backgroundLight {
background-color:#9FA8DA; 
}
.backgroundLightBlue {
    background-color: #90CAF9;
}
.backgroundLightPurple {
    background-color:#B39DDB;
}
.backgroundLightGreen{
    background-color:#9DDBAB;
}