<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>smPark</title>
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/MiF.css">

</head>

<body>
    <div class="panelIzquierdo">
        <div class="contenedor">
            <div class="f-row">
                <div class="logo">
                    <h2>smpark</h2>
                </div>
            </div>
            <div class="f-row">
                <ul class="menu">
                    <li><i class="fa fa-home" aria-hidden="true"></i> Home</li>
                    <li><i class="fa fa-bar-chart" aria-hidden="true"></i> Informes
                    </li>
                    <li><i class="fa fa-newspaper-o" aria-hidden="true"></i> Facturas
                    </li>
                    <li><i class="fa fa-user-circle-o" aria-hidden="true"></i> Clientes
                    </li>
                    <li><i class="fa fa-cog" aria-hidden="true"></i> Panel de Control</li>
                    <li><i class="fa fa-info" aria-hidden="true"></i> Ayuda
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="panelSuperior">
        <div class="contenedor">
            <div class="selecParking">
                <Select>  
                        <i class="fa fa-bell-o notificacion" aria-hidden="true"></i>              
                    <option value="">Parking Flor de Maroñas</option>
                    <option value="">Parking Nuevo Centro</option>
                    <option value="">Parking Montevideo Shopping</option>
                </Select>
            </div>

            <div class="usuarios">
                <i class="fa fa-bell-o notificacion" aria-hidden="true"></i>
                <span>Hola </span>
                <span class="usuario">Miguel</span>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </div>


        </div>
    </div>

    <div class="panelCentral" ng-controller="homeCtrl">
        <div class="controlAccesos" ng-init="consultarAccesos()">
            <div class="f-row">
                <div class="f-lg-1">
                    <button ng-click="consultarAccesos()">Refrescar</button>
                </div>
                <div class="f-lg-4 f-ofs-lg-7">

                    <div class="entradaMatricula">
                        <input type="text" class="f-input-corto inpMatricula" placeholder="Matrícula" ng-model="inpMatricula">
                        <button ng-click="ingresoVehiculo()">Entrada</button>
                        <button ng-click="salidaVehiculo()">Salida</button>
                    </div>
                </div>
            </div>
            <div class="f-row">
                <table>
                    <thead>
                        <tr>
                            <th>MATRÍCULA</th>
                            <th>CLIENTE</th>
                            <th>ENTRADA</th>
                            <th>PAIS</th>
                            <th>TIPO VEHÍCULO</th>
                            <th>TIPO CLIENTE</th>
                            <th class="anchoColumn"></th>
                            <th>COMENTARIO</th>
                            <th>PARK</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="acceso in listaMatriculas" ng-mouseover="acceso.menuActivo = true" ng-mouseleave="acceso.menuActivo = false">
                            <td>{{acceso.matricula}}</td>
                            <td>{{acceso.cliente}}</td>
                            <td>{{acceso.entrada}}</td>
                            <td>{{acceso.pais}}</td>
                            <td>{{acceso.tipoVehiculo}}</td>
                            <td>{{acceso.tipoCliente}}</td>
                            <td><span ng-show="acceso.menuActivo">...</span></td>
                            <td>{{acceso.comentario}}</td>
                            <td>{{acceso.park}}</td>
                        </tr>

                    </tbody>
                </table>
                <br>
                <div ng-controller="pruebaCtrl">

                    <div class="gridStyles" ui-grid="gridOptions"></div>
                </div>


            </div>
        </div>
    </div>


    <script src="./js/angular.min.js"></script>
    <script src="./app.js"></script>
    <script src="./servicios/servicios.js"></script>
    <script src="./controladores/home.js"></script>
    <script src="./directivas/directivas.js"></script>
    <script src="./js/script.js"></script>
</body>

</html>